.comic-container {
  flex-direction: row;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  width: 100%;
  height: 80px;
}

.back.btn {
  margin: 20px;
  margin-left: 0px;
  height: 40px;
}

.comic-book {
  width: 100%;
  display: flex;
}

.image {
  /*height: 100%;*/
  width: 25%;
  margin-right: 30px;
}

.comic-text {
  width: 65%;
}

.issue-number {
  display: flex;
  h4 { margin-right: 15px; }
}

.pages {
  display: flex;
  h4 { margin-right: 15px; }
}

.release-date {
  display: flex;
  h4 { margin-right: 15px; }
}

.price {
  display: flex;
  h4 { margin-right: 15px; }
}
