.card-img-top {
  height: 50%;
  border-bottom: 1px solid black;
}

.card-body {
  height: 50%;

  .card-title {
    height: 6%;
  }

  .card-text {
    height: 77%;
  }

  .card-footer {
    .delete-character {
      float: right;
    }
  }
}

.button-accept {
  float: right;
  width: 75px;
}

.button-decline {
  float: left;
  width: 75px;
}
