<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<img class="card-img-top" src="{{character.image}}" alt="Image not found"/>
<div class="card-body">
  <h5 class="card-title">{{character.name}}</h5>
  <h6 class="card-num_roles">Number of Roles: {{character.numberOfRoles}}</h6>
  <p class="card-text">{{character.description}}</p>
  <div class="card-footer">
    <button type="button" class="btn btn-primary delete-character" (click)="openModal(deleteConfirmation)"><fa-icon [icon]="faTimes"></fa-icon></button>
  </div>
</div>


<ng-template #deleteConfirmation>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure you want to delete {{character.name}}?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary button-decline" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-primary button-accept" (click)="deleteCharacter()">Yes</button>
  </div>
</ng-template>
